[global]
# Grandmaster configuration
gmCapable               1
priority1               128
priority2               128
clockClass              248
clockAccuracy           0xFE
offsetScaledLogVariance 0xFFFF
domainNumber            0

# Timing behavior
# 2^(-4) = 16 ms sync interval
logSyncInterval         -4
syncReceiptTimeout      3
assume_two_step         1
delay_mechanism         P2P
network_transport       L2
ptp_dst_mac             01:80:C2:00:00:0E

# Timestamping
time_stamping           hardware
tx_timestamp_timeout    20

# Automotive / Master behavior
BMCA                    noop
masterOnly              1
inhibit_announce        1
inhibit_delay_req       1
asCapable               true
path_trace_enabled      1
follow_up_info          1
transportSpecific       0x1
